<header>
	<div class="div_header">

		<div class="logo">
			<i class="fas fa-question-circle"></i>
			<p>MY QUESTION</p>
		</div>

		<div class="search">
			<i class="fas fa-search"></i>
			<input type="text">
		</div>

		<div class="div_button">
			<button class="btn btn_inscription">Inscription</button>
			<button class="btn btn_connexion">Connexion</button>
		</div>

	</div>
</header>
