<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<div class="container">
			{{ include('partials/_header.html.twig') }}
			<div class="container_content">
				<div class="content">
					{{ include('partials/_sidebar.html.twig') }}
					{% block body %}{% endblock %}
				</div>	
			</div>
			{{ include('partials/_footer.html.twig') }}
		</div>
	</body>
</html>
